.form {
  width: 80%;
  margin: 20px auto 50px auto;
}
.full-width {
  width: 100%;
}
.SubmitButton{
  margin-top: 20px;
  width: 100%;
}

.mat-stroked-button{
  background-color: rgba(0,0,0,.04);
  border: none;
  color: #606f7b;
}
.mat-stroked-button:hover{
  border-bottom: 1px solid #606f7b;
}
